html,body{
    font-family: 'Montserrat', sans-serif;
    background: #FAFAFA;
  }
  .hero-body{
    flex-shrink: unset !important;
  }
  h1.padded{
    padding-bottom:20px;
  }
  form.tool-form{
    border-radius:4px;
    padding:4px;
    margin-top: 45px;
    display: flex;
  }
  input.kw-field{
    margin-right: 10px;
  }
  /* News Articles */
  div.content h2{
    font-size: 1.3em;
}
h3.subtitle{
    margin-bottom: 0 !important;
}
.sect-more{
    padding:3rem 0rem;
}
.sect-more .container a{
    padding: 0.5em 1.5em;
    background: #fffefe;
    margin: 0.75em 0;
}
.more-headlines{
    flex: 4; 
    display: flex;
    justify-content: center;
    flex-direction: column;}
    /* end */
    /* new */
    .name{
      font-size: 1.5rem;
      font-weight: bold;
      letter-spacing: -5px;

      }
      nav.navbar{
        width: 100%;
        flex: 1;
        min-width: 100%;
        max-height: 62px;
        height: 62px;
      }
      .hero{
        flex-flow: row wrap;
      }
      .text-white{
        color: #f4f4f4;
      }
      .aside{
        min-height: 100%;
        min-width: 65px !important;
        background: #3f51b5;
        position: relative;
      }
      .aside .aside-content{
        top: 0;
        bottom: 0;
        height: 100vh;
        background: transparent;
        max-width: 65px;
        flex-direction: column;
        overflow: hidden;
        position: fixed;
        justify-content: flex-start;
      }
      .main{
        flex: 1;
        min-height: 100%;
        flex: 1;
        min-height: 100%;
        max-width: calc(100vw - 64px);
        overflow: hidden;
      }
      .side-icon{
        border-radius: 20px;
        height: 40px;
        width: 40px;
      }
      .navbar-inline{
        display: inline-flex;
      }
      .tool{
        height: 200px;
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 7.5px;
        flex-direction: column;
      }
      .tool> *{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      @media screen and (min-width: 1024px){
        .navbar-dropdown .navbar-item {
            padding: 0.375rem 1rem;
            white-space: normal !important;
        }
        .navbar-dropdown {
          min-width: 500px;
      }
    }
/* new */

  @media only screen and (max-width: 768px) {
    form.tool-form {
      display: flex;
      flex-direction: column;
    }
    button.kw-find {
      margin-top: 10px;
    }
    .why-this-tool{
      text-align: center !important;
    }
    .how-this-tool-works-subs{
      text-align: start !important;
    }
  }