<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Domain Name Finder | AwwzApp</title>
    <meta name="description" content="Finding the ideal domain name for your blog doesn't have to be difficult thanks to our innovative, artificial intelligence-powered Domain Name Finder tool. Your blog will stand out, be easy to find, and have a better chance of ranking highly in search engines thanks to our sophisticated algorithm. Our algorithm scans through millions of available domain names with just a single click and suggests the best options based on your niche keyword.">
    <link rel="shortcut icon" href="/static/images/icons/favicon.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/app/bulma/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma-tooltip/1.2.0/bulma-tooltip.min.css" integrity="sha512-eQONsEIU2JzPniggWsgCyYoASC8x8nS0w6+e5LQZbdvWzDUVfUh+vQZFmB2Ykj5uqGDIsY7tSUCdTxImWBShYg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/app/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-9Q4TESDCD5"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-9Q4TESDCD5');
    </script>
</head>
<body>
  <section class="hero is-fullheight is-flex is-flex-direction-row">
    <div class="aside">
      <div class="is-flex aside-content"> 
            <a class="navbar-item text-white has-text " href="{% url 'home' %}" data-tooltip="Home">
              <span class="icon  side-icon has-background-danger ">
                <i class="fas fa-home"></i>
              </span>
            </a>
            <a class="navbar-item text-white" href="/home/" data-tooltip="Projects">
              <span class="icon  side-icon has-background-success ">
                <i class="fa-solid fa-bars-progress"></i>
              </span>
            </a>

            <a href="{% url 'creator' %}" class="navbar-item has-text-link" data-tooltip="Creator">
              <span class="icon side-icon has-background-white-ter">
                <i class="fa-solid fa-tools"></i>
              </span>                     
            </a>
            <a class="navbar-item has-text-weight-bold has-text-white" href="#" data-tooltip="Tools">
              <span>Tools</span>
            </a>
            <div class="navba-item">
              <a class="navbar-item text-white" href="{% url 'domains' %}" data-tooltip="Domain Name Finder">  
                <span class="icon side-icon has-background-white-ter">
                <i class="fa-solid fa-globe  has-text-danger "></i>  
                </span>
              </a>  
              <a class="navbar-item text-white" href="{% url 'titles' %}" data-tooltip="Topic Generator"> 
                <span class="icon side-icon has-background-white">
                <i class="fa-solid fa-heading has-text-info"></i>
                </span>
              </a>
              <a class="navbar-item text-white" href="{% url 'writer' %}" data-tooltip="AI Writer">
                <span class="icon side-icon has-background-white-ter">
                  <i class="fa-solid fa-robot has-text-link"></i>
                </span>  
              </a>
              <a class="navbar-item text-white" href="{% url 'image-search' %}" data-tooltip="Image Search">
                <span class="icon side-icon has-background-white">
                  <i class="fa-solid fa-camera has-text-danger"></i>
                </span>  
              </a>
            </div>
      </div>
    </div>
    <div class="main">
      <nav class="navbar is-flex has-background-white-ter is-justify-content-space-between "> 
        <div class="navbar-inline navbar-item">
          <div class="navbar-brand is-hidden-mobile	">
            <a class="navbar-item" href="/">
              <span class="name" style="color: #1a1a1a !important;"><span style="color: #3273dc;">Awwz</span>App</span>
            </a>
          </div> 
          <a class="navbar-item has-text-weight-bold is-flex is-align-items-center" href="#">       
              <span> <i class="fa-solid fa-globe"></i>Blog Generator</span>
          </a>
        </div>
    
        <div class="navbar-inline navbar-item">
          <div class="navbar-item"> 
            <a class=" is-link" href="{%url 'register' %}">
              <span class="icon">
                <i class="fas fa-user"></i>
              </span>
              <span>Profile</span>
            </a>
          </div>
        </div>
      </nav>

<!--  -->

<div class="container p-3">  
  <p class="subtitle">
      Enter <strong>your niche key word</strong> and generate domain names.
  </p>
  <div class="subtitle">          
    <form method="POST" style="margin-top: 0px !important;" class="tool-form container">{% csrf_token %}
      <input class="input kw-field is-medium mb-2" type="text" name="niche" placeholder="Enter Niche Keyword(s)" autofocus required>                
        <button type="submit" class="button kw-find has-text-white has-background-danger is-medium ">Generate</button>
    </form>
    <div class="container is-fullheight"> 
      
      
      <div class="container results"> 

        {% if domains or titles%}
          <h2 class="title results is-size-3  ">Results</h2>
          <p class="subtitle">Click to <strong>register</strong> the domain name you like</p>
          <div class="are-medium">
            {% for name in domains %}
              <div  class="title mt-0 mb-0 pt-4 pb-4 pl-2 results is-size-4 {% cycle 'row1' '' %}">
                <h2 class="mb-4">{{forloop.counter}}. {{name}}</h2> 
              </div>
            {% endfor %}
          </div>
          
          <h2 class="title results is-size-3  ">Titles</h2>
          <p class="subtitle"> Click on any article <strong>to generate article</strong></p>
          <div class="is-flex is-flex-direction-column">
            {% for title in titles %}
                <h2 class="pl-2 title mt-0 mb-0 pt-4 pb-4 results is-size-4 {% cycle 'row1' 'row2' %}">
                  {{forloop.counter}}. {{title}}
                  <a  href="/writer/?title={{title}}" class="button">
                    Write
                  </a>
                  <button  class="button">
                    Save
                  </button>
                </h2>
            {% endfor %}
          </div>
        {% endif %}
      </div>

    </div>
    <br>
    <div class="navbar-divider"></div>

    <div class="container  p-2 is-size-4">
      <h1 class="title">Domain Name Finder</h1>
      <p>Finding the ideal domain name for your blog doesn't have to be difficult thanks to our innovative, artificial intelligence-powered Domain Name Finder tool. Your blog will stand out, be easy to find, and have a better chance of ranking highly in search engines thanks to our sophisticated algorithm. Our algorithm scans through millions of available domain names with just a single click and suggests the best options based on your niche keyword.</p>
      <h2 class="title"><br />  Why You Chose Our Domain Name Finder</h2>
      <h3 class="title">1, User-Friendly Interface</h3>
      <p>With a user-friendly interface that enables users to quickly and easily generate a list of potential domain names, our domain name finder tool is made to be user-friendly and simple to use. Our tool is the ideal way to help you advance your blog, whether you're a blogger, marketer, or content creator. Without any prior technical knowledge, you can quickly find the ideal domain name for your blog using its user-friendly interface. Bypass the hassle of manual research and say hello to a constant flow of innovative and intriguing domain name suggestions that will make your blog stand out and draw more readers.</p>
      <p></p>
      <h2 class="title"><br />2, Advanced Algorithm</h2>
      <p></p>
      <p><br />Our domain name finder tool's cutting-edge algorithm searches through millions of domain names that are currently available and suggests the top choices based on your niche keyword. In order to give you domain names that are both available and optimized for SEO, the algorithm not only checks the availability of the domain name but also takes into account various SEO factors like search volume, keyword competition, and keyword relevance. This increases the likelihood that your blog will rank highly in search engines, make it stand out, and be easy to find. You can trust that the recommendations are accurate because the algorithm is constantly learning and updating itself with the newest trends and insights in the world of SEO and domain names.</p>
      <p></p>
      <h3 class="title"><br />3, Say Goodbye to Manual Research</h3>
      <p></p>
      <p><br />Our domain name generator tool eliminates the need for manual research while continuously supplying users with intriguing and original domain name suggestions. You can quickly and easily create a list of potential domain names that are tailored to your particular niche or industry using its robust search capabilities and sophisticated algorithm. Our tool is the ideal way to help you advance your blog, whether you're a blogger, marketer, or content creator. No more wasting hours searching the internet for available domain names or attempting to come up with the ideal phrase. With the help of our tool, you can find the ideal domain name for your blog in a matter of minutes, saving you time and letting you concentrate.</p>
      <h2 class="title"> <br /> Try it right now.</h2>
      <p><br /> Try out our Domain Name Finder tool right away to take the first step towards a profitable blog. You can find the ideal domain name for your blog with the help of its user-friendly interface and sophisticated algorithm. Our tool is the ideal way to help you advance your blog, whether you're a blogger, marketer, or content creator. Don't let the hassle of locating the ideal domain name prevent you from starting a profitable blog. Try out our tool right away to see the impact it can have on the visibility and online presence of your blog.</p>
    </div>
  </div>
</div>
<!--  -->

    </div>
  </section>    
  <script src="/static/app/js/control.js"></script>
</body>
</html>

